@import "tailwindcss";

:root {
  --background: #f5f5f5;
  --foreground: #333;
  --secondary-background: #ff8000;
  --hover: #b35900;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.restaurant-card {
  position: relative;
  overflow: hidden;
}

.card-bg {
  position: absolute;
  inset: 0;
  background-image: url("/jet-logo.png");
  background-size: 80%;
  background-position: 200% bottom;
  background-repeat: no-repeat;
  opacity: 0.15;
}
